<clr-tabs>
    <clr-tab>
          <button clrTabLink>Poste</button>
          <clr-tab-content *clrIfActive>
            <br><br><br><br>
            <clr-datagrid >
              <clr-dg-action-bar>
                <div class="btn-group large-screen">
                    <button type="button" class="btn btn-sm btn-secondary" routerLink="">
                        <clr-icon shape="plus"></clr-icon> Ajouter Poste
                    </button>
                </div>
            </clr-dg-action-bar>
              <clr-dg-column >
                <ng-container >
                  Id
                </ng-container>
              </clr-dg-column>
              <clr-dg-column >
                <ng-container >
                Nom de poste
                </ng-container>
              </clr-dg-column>
            
          
              <clr-dg-column [clrDgField]="'dueDate'">
                <ng-container >
           description 
              </ng-container>
                <clr-dg-filter>
                
                </clr-dg-filter>
              </clr-dg-column>
              <clr-dg-column >
                <ng-container >
                Date de création
              </ng-container>
                <clr-dg-filter >
    
                </clr-dg-filter>
              </clr-dg-column>
              <clr-dg-placeholder>Nous n'avons trouvé aucun Poste !</clr-dg-placeholder>
              <clr-dg-row >
                <clr-dg-action-overflow>
                  <button class="action-item" >Détails</button>
                  <button class="action-item">Modification</button>
                  <button class="action-item">Suppression</button>
                </clr-dg-action-overflow>
                <clr-dg-cell  class="cursor-pointer" routerLink="#"></clr-dg-cell>
                <clr-dg-cell  class="cursor-pointer" routerLink="#"  ></clr-dg-cell>
                <clr-dg-cell  class="cursor-pointer" routerLink="#" ></clr-dg-cell>
    
              </clr-dg-row>
              <clr-dg-footer>
             
                <clr-dg-pagination  >
                  <clr-dg-page-size ></clr-dg-page-size>
              
                </clr-dg-pagination>
              </clr-dg-footer>
         </clr-datagrid>  
         </clr-tab-content>
        </clr-tab>
      </clr-tabs>
      
